
<section class="panel">

    <!--<section class="rides" ng-controller="CountryDetailCtrl">-->
    <div class="backup-triangle"><a href="#home"><img src="img/backLeft.png" alt="retour à l'accueil"/></a></div>

    <section class="main-layout-blog">

        <h1>Blog</h1>
        <article class="ride" ng-repeat="ride in rides" >
            <a href="#details/{{ride.id}}/tes_trajets">
                <ul class="" ng-class="{'driver': ride.isDriver, 'white': $even, 'green': $odd}">
                    <li>{{ride.departuretown.name}} - {{ride.arrivaltown.name}}</li>
                    <li>{{ride.startdate | date}} - {{ride.enddate | date}}</li>
                    <li>{{ride.departure}} - {{ride.arrival}}</li>
                </ul>
            </a>
        </article>
        <div class="article" ng-repeat="post in posts">
            <p>
                {{post.date}}
            </p>
            <p>
                {{post.text}}
            </p>
            <img ng-if="post.isImage" src="{{post.image}}"/>
        </div>

    </section>
</section>