<section class="panel">
    <!--<section class="rides" ng-controller="CountryDetailCtrl">-->
    <div class="backup-triangle"><a href="#home"><img src="img/backLeft.png" alt="retour à l'accueil"/></a></div>
    <section class="main-rides">
        <h1>Création d'un trajet</h1>
        <form method="post">
            <section class="main-layout">
                <div class="title-form pdata"><img src="img/arrowDown.png" alt="ouvrir / cacher" class="onOff-pdata"/><span class="areaTitle">localités</span></div>
                <article class="personal-data">
                    <label for="departure">départ</label><br/>
                    <input type="hidden" id="departure"/><br/>

                    <label for="arrival">destination</label><br/>
                    <input type="hidden" id="arrival"/><br/>
                </article>

                <div class="title-form conf"><img src="img/arrowRight.png" alt="ouvrir / cacher" class="onOff-conf"/><span class="areaTitle">heures</span></div>
                <article class="confidentiality">
                    <label for="departure-time">heure de départ</label><br/>
                    <input type="time" id="departureTime" name="departureTime"  /><br/>

                    <label for="arrival-time">heure d'arrivée</label><br/>
                    <input type="time" id="arrivalTime" name="arrivalTime" /><br/>
                </article>

                <div class="title-form notif"><img src="img/arrowRight.png" alt="ouvrir / cacher" class="onOff-notif"/><span class="areaTitle">récurrences</span></div>
                <article class="notifications">
                    <label for="arrival-time">jours </label>
                    <div class="rec">
                        <div class="carre-blanc" ng-click="ride.recurrence.monday = ! ride.recurrence.monday ; click()" ng-class="{'carre-vert' : ride.recurrence.monday}" ><p>lun</p></div>
                        <div class="carre-blanc" ng-click="ride.recurrence.tuesday = ! ride.recurrence.tuesday; click()" ng-class="{'carre-vert' : ride.recurrence.tuesday}" ><p>mar</p></div>
                        <div class="carre-blanc" ng-click="ride.recurrence.wednesday = ! ride.recurrence.wednesday; click()" ng-class="{'carre-vert' : ride.recurrence.wednesday}" ><p>mer</p></div>
                        <div class="carre-blanc" ng-click="ride.recurrence.thursday = ! ride.recurrence.thursday; click()" ng-class="{'carre-vert' : ride.recurrence.thursday}" ><p>jeu</p></div>
                        <div class="carre-blanc" ng-click="ride.recurrence.friday = ! ride.recurrence.friday; click()" ng-class="{'carre-vert' : ride.recurrence.friday}"  ><p>ven</p></div>
                        <div class="carre-blanc" ng-click="ride.recurrence.saturday = ! ride.recurrence.saturday; click()" ng-class="{'carre-vert' : ride.recurrence.saturday}"  ><p>sam</p></div>
                        <div class="carre-blanc" ng-click="ride.recurrence.sunday = ! ride.recurrence.sunday; click()" ng-class="{'carre-vert' : ride.recurrence.sunday}" ><p>dim</p></div>
                    </div>
                    <br/>

                    <label for="arrival-time">période </label>
                    <div class="rec">
                        <select name="periode" class="pselect" id="periode">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>


                        <div class="carre-blanc"><p>sem</p></div>
                        <div class="carre-blanc"><p>mois</p></div>
                    </div>

                    <label for="startDate">du</label>
                    <input type="date" id="startDate" name="startDate" />

                    <label for="endDate">au</label>
                    <input type="date" id="endDate" name="endDate" /><br/>

                </article>

                <div class="title-form det"><img src="img/arrowRight.png" alt="ouvrir / cacher" class="onOff-details"/><span class="areaTitle">détails</span></div>
                <article class="details">
                    <label for="seats">nombre de place(s) disponible(s) </label>
                    <div class="rec">
                        <select name="seats" class="pselect_seats" id="seats">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <label for="description">description</label>
                    <textarea name="rideDescription" rows="6" cols="30" id="description"></textarea>
                </article>

                <input type="submit" ng-click="creation_trajet()" value="enregistrer" id="save"/>
            </section>
        </form>
    </section>
    <script>
        //hide-show the areas
        $(document).ready(function(){
            //personal data
            $('.pdata').click(function(){

                if($(".personal-data").is(":hidden")) {
                    //change the arrow's picture
                    $('.onOff-pdata').attr('src','img/arrowDown.png');
                    //show the div
                    $('.personal-data').slideDown();
                } else {
                    //change the arrow's picture
                    $('.onOff-pdata').attr('src','img/arrowRight.png');
                    //hide the div
                    $(".personal-data").slideUp();
                }
                return false;
            });

            //confidentiality
            $('.conf').click(function(){
                if($(".confidentiality").is(":hidden")) {
                    //change the arrow's picture
                    $('.onOff-conf').attr('src','img/arrowDown.png');
                    //show the div
                    $('.confidentiality').slideDown();
                } else {
                    //change the arrow's picture
                    $('.onOff-conf').attr('src','img/arrowRight.png');
                    //hide the div
                    $(".confidentiality").slideUp();
                }
            });

            //notifications
            $('.notif').click(function(){
                if($(".notifications").is(":hidden")) {
                    //change the arrow's picture
                    $('.onOff-notif').attr('src','img/arrowDown.png');
                    //show the div
                    $('.notifications').slideDown();
                } else {
                    //change the arrow's picture
                    $('.onOff-notif').attr('src','img/arrowRight.png');
                    //hide the div
                    $(".notifications").slideUp();
                }
            });

            //notifications
            $('.det').click(function(){
                if($(".details").is(":hidden")) {
                    //change the arrow's picture
                    $('.onOff-details').attr('src','img/arrowDown.png');
                    //show the div
                    $('.details').slideDown();
                } else {
                    //change the arrow's picture
                    $('.onOff-details').attr('src','img/arrowRight.png');
                    //hide the div
                    $(".details").slideUp();
                }

            });

        });
        //Search cities
        $("#departure, #arrival").select2({
            minimumInputLength: 2,
            ajax: {
                url: apiPath+'/towns',
                dataType: 'json',
                type: "GET",
                quietMillis: 200,
                data: function (term) {
                    return {
                        token:getToken(),
                        q: term
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        })
                    };
                }
            }
        });
    </script>
</section>
